$font-size: 1rem;
html, body { height: 100%; width: 100%; margin: 0; }
* {
  padding: 0;
  margin: 0;
  font-family: 'Roboto Mono', monospace;
}

@import 'header.scss';
@import 'searchForm.scss';
@import 'imageList.scss';
@import 'pagination.scss';
@import 'footer.scss';

.page-container {
  position: relative;
  min-height: 100vh;
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {
  display:block;
}

.hide {
  display: none;
}
